.entire {
    background-color: #343a40;
    color: #f8f9fa;
}

.homepage-title, .greet {
    background-color: #50596c;
    color: #f8f9fa;
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input {
    background-color: #6c757d;
    color: #f8f9fa;
    border: 1px solid #4e5d6c;
}

#greeting {
    font-size: 2rem;
    color: #f8f9fa;
}

#buttonCallender, #buttonList, #buttonVideo {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s;
}

#buttonHomepage:hover, #buttonList:hover, #buttonVideo:hover {
    background-color: green;
}

.main, .fun {
    background-color: #343a40;
    text-align: center;
    position: relative;
}

#buttonDontPress {
    background-color: #dc3545;
    color: white;
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#duckImage {
    position: absolute;
    bottom: -650px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    max-width: 200%;
    height: auto;
    max-height: 1000px;
}

