.entire {
    background-color: #343a40;
    color: #f8f9fa;
}

.list-title {
    background-color: #50596c;
    color: #f8f9fa;
    font-size: 2.5rem;
    padding: 20px;
    text-align: center;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.list-builder {
    text-align: center;
    margin: 20px;
}

#itemList {
    list-style-type: none;
    color: #f8f9fa;
}

#itemList li {
    margin: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

#buttonHomepage, #buttonCallender, #buttonVideo {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#buttonHomepage:hover, #buttonCallender:hover, #buttonVideo:hover {
    background-color: green;
}
